{% load static %}
<html>
<head>
    <title>{{ myweb_key.1 }}</title>
    <link rel="stylesheet" href="/static/css/top.css">
    <link rel="stylesheet" href="/static/css/end.css">
    <link rel="stylesheet" href="/static/css/huiyuan_mima.css">
    <link rel="stylesheet" href="/static/css/huiyuan.css">
    <style>
        .rongqi{ width:980px;display:flex;flex-wrap:wrap;align-content:flex-start;}
        .xm{  height:120px; background-color:#FFF;padding:10px; box-sizing:border-box; margin:10px 20px 10px 0px; background:#F3F3F3; border-radius:5px;}
        .xm:active {
        }
        .xm:hover {
            box-shadow: 5px 5px 10px  #CCCCCC;
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffcb48', endColorstr='#ff9c23',GradientType=0 );
        }
    </style>
</head>
<body>
{% include "pc/toubu.html" %}


<table width="100%" border="0">
    <tr>
        <td align="center">
            <!--中间宽度1200 表格 开始-->
            <table width="1200" border="0" align="center">
                <tr>
                    <td width="200" valign="top">
                        <!--中间宽度1200 左侧200 开始-->
                        {% include "pc/guanyu_left.html" %}
                        <!--中间宽度1200 左侧200 结束-->
                    </td>
                    <td width="5"></td>
                    <td valign="top" >
                        <!--中间宽度1200 右侧 开始-->
                        <table width="100%" border="0" style="padding:5px; border:1px solid #CCC;" >
                            <tr>
                                <td height="35" style="background:#999; border-top-left-radius:10px; border-top-right-radius:10px; font-weight:bold; color:white;" align="center">
                                    {{ info.1 }}
                                </td>
                            </tr>
                            <tr>
                                <td  style="padding:5px; line-height:2;"  height="340" valign="top">

{#  {{ info.10|linebreaks }}#}
{% autoescape off %}
{{ info.2}}
{% endautoescape off %}

                                </td>
                            </tr>
                        </table>
                        <!--中间宽度1200 右侧 结束-->
                    </td>
                </tr>
            </table>
            <!--中间宽度1200 表格 结尾-->
        </td>
    </tr>
</table>

{% include "pc/weibu.html" %}

</body>
</html>
