<table width="100%" border="0"  height="395"  style="padding:5px; border:1px solid #CCC;" >
    <tr><td valign="top">

        <table width="100%" border="0" >
            <tr>
                <td height="35" style="background:#999; border-top-left-radius:10px; border-top-right-radius:10px; font-weight:bold; color:white;" align="center">会员功能</td>
            </tr>

            <tr>
                <td  style="border-bottom:1px dotted #CCCCCC;padding:10px;" >
                    <img src="/static/img/menu05.png" width="16" style="vertical-align: bottom;">
                    <a href="/mem_main">会员首页</a>
                </td>
            </tr>
            <tr><td  style=" background-color: #CCC;"  height="5px;" ></td></tr>

            <tr>
                <td  style="border-bottom:1px dotted #CCCCCC;padding:10px;" >
                    <img src="/static/img/b-off.png" width="16" style="vertical-align: bottom;">
                    <a href="/mem_xiangmu_dingdan_list/0" >我的电影 订单列表</a>
                </td>
            </tr>
            <tr>
                <td  style="border-bottom:1px dotted #CCCCCC;padding:10px;" >
                    <img src="/static/img/center-icon-sc.png" width="16" style="vertical-align: bottom;">
                    <a href="/mem_xiangmu_shoucang_list/0" >我的电影 收藏列表</a>
                </td>
            </tr>
            <tr>
                <td  style="border-bottom:1px dotted #CCCCCC;padding:10px;" >
                    <img src="/static/img/center-icon-order-dfh.png" width="16" style="vertical-align: bottom;">
                    <a href="/mem_xiangmu_liulan_list/0" >我的电影 浏览记录</a>
                </td>
            </tr>
            <tr>
                <td  style="border-bottom:1px dotted #CCCCCC;padding:10px;" >
                    <img src="/static/img/menu08.png" width="16" style="vertical-align: bottom;">
                    <a href="/mem_xiangmu_pinglun_list/0" >我的电影 评论列表</a>
                </td>
            </tr>

            <tr><td  style=" background-color: #CCC;"  height="5px;" ></td></tr>
            <tr>
                <td  style="border-bottom:1px dotted #CCCCCC;padding:10px;" >
                    <img src="/static/img/icon_nav_article.png" width="16" style="vertical-align: bottom;">
                    公司环境&nbsp;&nbsp;&nbsp;
                    <a href="/mem_chanpin_shoucang_list/0">收藏</a>&nbsp;&nbsp;&nbsp;
                    <a href="/mem_chanpin_pinglun_list/0">评论</a>
                </td>
            </tr>
            <tr>
                <td  style="border-bottom:1px dotted #CCCCCC;padding:10px;" >
                    <img src="/static/img/icon_nav_article.png" width="16" style="vertical-align: bottom;">
                    资讯中心&nbsp;&nbsp;&nbsp;
                    <a href="/mem_zixun_shoucang_list/0">收藏</a>&nbsp;&nbsp;&nbsp;
                    <a href="/mem_zixun_pinglun_list/0">评论</a>
                </td>
            </tr>

            <tr><td  style=" background-color: #CCC;"  height="5px;" ></td></tr>

            <tr>
                <td  style="border-bottom:1px dotted #CCCCCC;padding:10px;" >
                    <img src="/static/img/m01.png" width="16" style="vertical-align: bottom;">
                    <a href="/mem_xinxi_xiugai">用户信息</a>
                </td>
            </tr>

            <tr>
                <td  style="border-bottom:1px dotted #CCCCCC; padding:10px;">
                    <img src="/static/img/center-icon-dlmm.png" width="16" style="vertical-align: bottom;">
                    <a href="/mem_mima">密码修改</a>
                </td>
            </tr>

            <tr>
                <td  style="border-bottom:1px dotted #CCCCCC; padding:10px;" >
                    <img src="/static/img/m05.png" width="16"  style="vertical-align: middle;">
                    <a href="/mem_logout">退出登录</a>
                </td>
            </tr>
        </table>

    </td></tr>
</table>