{% load static %}
<html>
<head>
    <title>{{ myweb_key.1 }}</title>
    <link rel="stylesheet" href="/static/css/top.css">
    <link rel="stylesheet" href="/static/css/end.css">
    <link rel="stylesheet" href="/static/css/huiyuan_mima.css">
    <link rel="stylesheet" href="/static/css/huiyuan.css">
</head>
<body>
{% include "pc/toubu.html" %}


<table width="100%" border="0">
    <tr>
        <td align="center">
            <!--中间宽度1200 表格 开始-->
            <table width="1200" border="0" align="center">
                <tr>
                    <td width="200" valign="top">
                        <!--中间宽度1200 左侧200 开始-->
                        {% include "pc/mem_left.html" %}
                        <!--中间宽度1200 左侧200 结束-->
                    </td>
                    <td width="5"></td>
                    <td valign="top">
                        <!--中间宽度1200 右侧 开始-->
                        <table width="100%" border="0" style="padding:5px; border:1px solid #CCC;">
                            <tr>
                                <td height="35"
                                    style="background:#999; border-top-left-radius:10px; border-top-right-radius:10px; font-weight:bold; color:white;"
                                    align="center">
                                    会员中心首页
                                </td>
                            </tr>
                            <tr>
                                <td style="padding:5px; line-height:2;" height="340" valign="top">

                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                        <tr>
                                            <td align="center">

                                                <table width="90%" border="0" cellspacing="1" cellpadding="0"
                                                       bgcolor="#CCCCCC">
                                                    <tr>
                                                        <td width="32%" rowspan="2" align="center" bgcolor="#FFFFFF"
                                                            class="p5">
                                                            <img src='{{ info.2 }}' height='80'>
                                                        </td>
                                                        <td width="68%" bgcolor="#FFFFFF" class="p10">
                                                            <!--xingming,xingbie,touxiang,qq,email,jianjie-->
                                                            <strong>姓名</strong>： {{ info.0 }}({{ info.1 }})
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td bgcolor="#FFFFFF" class="p10">
                                                            <strong>QQ：</strong>{{ info.3 }}&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;
                                                            <strong>邮箱：</strong>{{ info.4 }}
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="2" bgcolor="#FFFFFF" class="p10" height="100px;">
                                                            <strong>个人简介：</strong>{{ info.5|linebreaks }}
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="2" bgcolor="#FFFFFF" class="p10"
                                                            style="padding: 10px;" height="60px;">
                                                            <a href="/mem_xinxi_xiugai"
                                                               style="background-color:#F60; color:#FFF; border-radius:5px; padding:10px;">
                                                                我要去完善和修改个人信息
                                                            </a>
                                                        </td>
                                                    </tr>
                                                </table>
                                                <br>


                                            </td>
                                            <td width="25%" valign="top" bgcolor="#F6F6F6" class="p10">
                                                <b>用户功能模块</b><br>
                                                （1）用户注册、用户登录<br>
                                                （2）用户资料维护和修改<br>
                                                （3）用户账号密码修改<br>
                                                （4）退出系统登录<br>
                                            </td>
                                        </tr>
                                    </table>

                                </td>
                            </tr>
                        </table>
                        <!--中间宽度1200 右侧 结束-->
                    </td>
                </tr>
            </table>
            <!--中间宽度1200 表格 结尾-->
        </td>
    </tr>
</table>

{% include "pc/weibu.html" %}

</body>
</html>
