{% load static %}
<html>
<head>
    <title>{{ myweb_key.1 }}</title>
    <link rel="stylesheet" href="/static/css/top.css">
    <link rel="stylesheet" href="/static/css/end.css">
    <link rel="stylesheet" href="/static/css/huiyuan_mima.css">
    <link rel="stylesheet" href="/static/css/huiyuan.css">
    <style>
        .rongqi {
            width: 980px;
            display: flex;
            flex-wrap: wrap;
            align-content: flex-start;
        }

        .xm {
            height: 120px;
            background-color: #FFF;
            padding: 10px;
            box-sizing: border-box;
            margin: 10px 20px 10px 0px;
            background: #F3F3F3;
            border-radius: 5px;
        }

        .xm:active {
        }

        .xm:hover {
            box-shadow: 5px 5px 10px #CCCCCC;
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffcb48', endColorstr='#ff9c23', GradientType=0);
        }
    </style>
</head>
<body>
{% include "pc/toubu.html" %}


<table width="100%" border="0">
    <tr>
        <td align="center">
            <!--中间宽度1200 表格 开始-->
            <table width="1200" border="0" align="center">
                <tr>
                    <td width="200" valign="top">
                        <!--中间宽度1200 左侧200 开始-->
                        {% include "pc/guanyu_left.html" %}
                        <!--中间宽度1200 左侧200 结束-->
                    </td>
                    <td width="5"></td>
                    <td valign="top">
                        <!--中间宽度1200 右侧 开始-->
                        <table width="100%" border="0" style="padding:5px; border:1px solid #CCC;">
                            <tr>
                                <td height="35"
                                    style="background:#999; border-top-left-radius:10px; border-top-right-radius:10px; font-weight:bold; color:white;"
                                    align="center">
                                    当前电影：{{ info.2 }}
                                </td>
                            </tr>
                            <tr>
                                <td style="padding:5px; line-height:2;" height="340" valign="top">
                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                        <tr>
                                            <td rowspan="4" style="padding:10px;color:#666;" align="center"
                                                width="200px">
                                                {% if info.8 is None %}
                                                {% else %}
                                                    <a href="{{ info.8 }}" target="_blank">
                                                        <img src="{{ info.8 }}" height="160">
                                                    </a>
                                                {% endif %}
                                            </td>
                                            <td style="padding:5px;color:#666;">
                                                阅读：{{ shu_liulan }} 人次&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
                                                收藏：{{ shu_shoucang }} 人次&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
                                                评论：{{ shu_pinglun }} 人次
                                            </td>
                                            <td style="padding:5px;color:#666;" align="right">
                                                <iframe width="0" height="0" frameborder="0" name="frame01"
                                                        src=""></iframe>
                                                <!--收藏-->
                                                <script>
                                                    function shoucang(cpid, h_id, mc) {
                                                        //alert(cpid + " | " + h_id);
                                                        frame01.location = "/api_xiangmu_shoucang?cpid=" + cpid + "&h_id=" + h_id + "&mc=" + mc;
                                                    }
                                                </script>
                                                {% if h_id %}   <!--登录状态-->
                                                    <input type="button"
                                                           style="background-color: #399; color:#FFF; padding:8px; border-radius:5px; border:0;cursor: pointer;"
                                                           value=" 收藏电影 "
                                                           onClick=shoucang('{{ cpid }}','{{ h_id }}','{{ info.2 }}')>
                                                {% else %}      <!--没有登录状态-->
                                                    <a style="background-color: #F60; color:#FFF; padding:8px; border-radius:5px;cursor: pointer;"
                                                       onclick=go_login('/mem_login')>登录后收藏</a>
                                                {% endif %}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="padding:5px;color:#666;">上架日期： {{ info.4|date:"Y-m-d" }}</td>
                                            <td style="padding:5px;color:#666;" width="150">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="padding:5px;color:#666;">
                                                电影价格：¥ {{ info.3 }} 元

                                                {% if h_id %}   <!--登录状态-->
                                                    <a style="background-color: #F60; color:#FFF; padding:8px; border-radius:5px;cursor: pointer;"
                                                       href="/pc_xiangmu_ding?xiangmu_id={{ cpid }}"
                                                    >购买电影票</a>
                                                {% else %}      <!--没有登录状态-->
                                                    <a style="background-color: #F60; color:#FFF; padding:8px; border-radius:5px;cursor: pointer;"
                                                       onclick=go_login('/mem_login')>登录后购买</a>
                                                {% endif %}
                                            </td>
                                            <td style="padding:5px;color:#666;" align="right">&nbsp;

                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="2" style="padding:5px;color:#666;">
                                                <table width="100%" border="0" cellspacing="0" cellpadding="0"
                                                       bgcolor="#F2F2F2">
                                                    <tr>
                                                        <td width="50%" style="padding:10px;">下一电影：
                                                            {% autoescape off %}{{ shang }}{% endautoescape off %}
                                                        </td>
                                                        <td width="50%" style="padding:10px;">上一电影：
                                                            {% autoescape off %}{{ xia }}{% endautoescape off %}
                                                        </td>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>


                                    <!--简介 开始-->
                                    <table width="100%" border="0" style="padding:5px; border:1px solid #CCC;">
                                        <tr>
                                            <td style="padding:5px; line-height:2;" height="340" valign="top">
                                                <div id="divcss5">
                                                    <div class="nav">
                                                        <div class="nav_current" id="nav1"
                                                             onClick="javascript:doClick(this)">电影详情
                                                        </div>
                                                        <div class="nav_link" id="nav2"
                                                             onClick="javascript:doClick(this)">电影场次
                                                        </div>
                                                        <div class="nav_link" id="nav3"
                                                             onClick="javascript:doClick(this)">电影评论
                                                        </div>
                                                    </div>
                                                    <div class="nav-down">
                                                        <div class="dis" id="sub1">
                                                            {#  {{ info.10|linebreaks }}#}
                                                            {% autoescape off %}
                                                                {{ info.9 }}
                                                            {% endautoescape off %}
                                                        </div>

                                                        <div class="undis" id="sub2" style="display:none;">
                                                            <table width="100%" border="0" cellpadding="3"
                                                                   cellspacing="1" bgcolor="#CCCCCC">
                                                                {% for mulu1 in rows_mulu1 %}
                                                                    <tr>
                                                                        <td bgcolor="#FFFFFF" height="30">&nbsp;&nbsp;&nbsp;&nbsp;
                                                                            {{ mulu1.1 }}
                                                                        </td>
                                                                    </tr>
                                                                    {% for mulu2 in rows_mulu2 %}
                                                                        {% if mulu2.2 == mulu1.0 %}
                                                                            <tr>
                                                                                <td bgcolor="#FFFFFF" height="30">
                                                                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|--
                                                                                    {{ mulu2.1 }}
                                                                                    <a href="/pc_xiangmu_ding?xiangmu_id={{ info.0 }}&xiangmu_mc={{ info.2 }}&changci_id={{ mulu2.0 }}"
                                                                                       target="_blank">【购买该场次】</a>
                                                                                </td>
                                                                            </tr>
                                                                        {% endif %}
                                                                    {% endfor %}
                                                                {% endfor %}
                                                            </table>
                                                        </div>

                                                        <div class="undis" id="sub3" style="display:none;">
                                                            <!--写评论 开始-->
                                                            <form name="form_pinglun">
                                                                <table width="100%" border="0" cellspacing="0"
                                                                       cellpadding="0" bgcolor="#F2F2F2">
                                                                    <tr>
                                                                        <td style="padding:10px 0 10px; border-bottom:1px dotted #CCCCCC; background-color: #f2f2f2;"
                                                                            width="10%" align="center">评论内容
                                                                        </td>
                                                                        <td style="padding:10px 0 10px; border-bottom:1px dotted #CCCCCC;background-color: #f2f2f2;"
                                                                            align="left" width="90%">
                                                                            <textarea name="neirong" id="neirong"
                                                                                      rows="5" cols="70"></textarea>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td style="padding:10px 0 10px; border-bottom:1px dotted #CCCCCC;background-color: #f2f2f2;"
                                                                            width="15%" align="center"></td>
                                                                        <td style="padding:10px 0 10px; border-bottom:1px dotted #CCCCCC;background-color: #f2f2f2;"
                                                                            align="left" width="85%">

                                                                            {% if h_id %}   <!--登录状态-->
                                                                                <input type="button"
                                                                                       style="background-color: coral; color:#FFF; padding:8px; border-radius:5px; border:0;"
                                                                                       value=" 提交评论内容 "
                                                                                       onClick="pinglun('{{ cpid }}','{{ h_id }}')">
                                                                            {% else %}      <!--没有登录状态-->
                                                                                <a style="background-color:  #399; color:#FFF; padding:8px; border-radius:5px; cursor:pointer;"
                                                                                   onclick=go_login('/mem_login')>提交评论内容</a>
                                                                            {% endif %}


                                                                            <script language="javascript">
                                                                                function pinglun(cpid, h_id) {
                                                                                    neirong = document.getElementById("neirong").value;
                                                                                    if (neirong == "" || neirong == null) {
                                                                                        alert("请填写评论内容！");
                                                                                    } else {
                                                                                        //alert(cpid+" | " + h_id + " | "+neirong);
                                                                                        frame01.location = "/api_xiangmu_pinglun_add?cpid=" + cpid + "&h_id=" + h_id + "&neirong=" + neirong;
                                                                                    }
                                                                                }
                                                                            </script>
                                                                            {{ cuowu|safe }}

                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                            </form>
                                                            <!--写评论 开始-->

                                                            <!--评论信息 开始-->
                                                            <table width="100%" border="0" cellspacing="0"
                                                                   cellpadding="0" style="margin: 10px;">
                                                                {% for pinglun in rows_pinglun_list %}
                                                                    <tr>
                                                                        <td style="padding:10px 0 10px; border-bottom:1px dotted #CCCCCC;">
                                                                            评论时间：<span
                                                                                style="color:red;"> {{ pinglun.2 }} </span>&nbsp;&nbsp;|&nbsp;&nbsp;
                                                                            评论内容：{{ pinglun.1 }}&nbsp;&nbsp;|&nbsp;&nbsp;
                                                                            <span style="color:#999;">[用户***]</span>
                                                                        </td>
                                                                    </tr>
                                                                {% endfor %}
                                                            </table>
                                                            <!--评论信息 结束-->
                                                        </div>

                                                    </div>
                                                </div>
                                                <style>
                                                    .nav {
                                                        display: flex;
                                                        background-color: #F6F6F6
                                                    }

                                                    .nav_current {
                                                        background-color: #F60;
                                                        color: #FFF;
                                                        padding: 5px 50px;;
                                                        border-top-left-radius: 5px;
                                                        border-top-right-radius: 5px;
                                                        margin-right: 10px;
                                                        cursor: pointer;
                                                    }

                                                    .nav_link {
                                                        background-color: #CCC;
                                                        padding: 5px 50px;
                                                        color: #333;
                                                        border-top-left-radius: 5px;
                                                        border-top-right-radius: 5px;
                                                        margin-right: 10px;
                                                        cursor: pointer;
                                                    }
                                                </style>
                                                <script>
                                                    function doClick(o) {
                                                        o.className = "nav_current";
                                                        var j;
                                                        var id;
                                                        var e;
                                                        for (var i = 1; i <= 3; i++) { //这里3 需要你修改 你多少条分类 就是多少
                                                            id = "nav" + i;
                                                            j = document.getElementById(id);
                                                            e = document.getElementById("sub" + i);
                                                            if (id != o.id) {
                                                                j.className = "nav_link";
                                                                e.style.display = "none";
                                                            } else {
                                                                e.style.display = "block";
                                                            }
                                                        }
                                                    }
                                                </script>


                                            </td>
                                        </tr>
                                    </table>
                                    <!--简介 结束-->


                                    <table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#F2F2F2">
                                        <tr>
                                            <td width="50%" style="padding:10px;">下一电影：
                                                {% autoescape off %}{{ shang }}{% endautoescape off %}
                                            </td>
                                            <td width="50%" style="padding:10px;">上一电影：
                                                {% autoescape off %}{{ xia }}{% endautoescape off %}
                                            </td>
                                    </table>


                                </td>
                            </tr>
                        </table>
                        <!--中间宽度1200 右侧 结束-->
                    </td>
                </tr>
            </table>
            <!--中间宽度1200 表格 结尾-->
        </td>
    </tr>
</table>

{% include "pc/weibu.html" %}

</body>
</html>
