<!--网站底部 开始-->
<br>
<div class="weibu">
    <div class="weibu_1200">

        <div class="weibu_you" style=" padding:10px;">
            <a href="/" class="weibu_you" target="_blank">网站首页</a>&nbsp;&nbsp;|&nbsp;&nbsp;
            <a href="/guanyu_women?id=1" class="weibu_you" target="_blank">关于我们</a>&nbsp;&nbsp;|&nbsp;&nbsp;
            <a href="/guanyu_women?id=2" class="weibu_you" target="_blank">联系我们</a>&nbsp;&nbsp;|&nbsp;&nbsp;
            <a href="/xinxi_list/0/0" class="weibu_you" target="_blank">资讯中心</a>&nbsp;&nbsp;|&nbsp;&nbsp;
            <a href="/mem_reg" class="weibu_you" target="_blank">用户注册</a>&nbsp;&nbsp;|&nbsp;&nbsp;
            <a href="/mem_login" class="weibu_you" target="_blank">用户登录</a>&nbsp;&nbsp;|&nbsp;&nbsp;
            <a href="/guanyu_liuyan" class="weibu_you" target="_blank">留言反馈</a>&nbsp;&nbsp;|&nbsp;&nbsp;
        </div>
    </div>
</div>


<div class="weibu2">
    <div class="weibu2_1200">
        Copyright ©2022 {{ myweb_key.1 }}
        <a href="https://beian.miit.gov.cn" target="_blank">某省ICP备xxxx号</a>&nbsp;&nbsp;&nbsp;

    </div>
</div>
<!--网站底部 结束-->

<script language="javascript">
    function go_login(url) {
        if (confirm("没有登录，点击确认跳转到登录页面！")) {
            window.location.href = url;
        }
    }
</script>
<script language="javascript">
    function del(url) {
        if (confirm("确定要删除该信息？删除后不可恢复!")) {
            window.location.href = url;
        }
    }
</script>